/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

a, table.table a {
  //color: $theme-color;
  color: black;
  &:hover {
    color: $theme-color;
    //text-decoration: underline;
  }
  &:hover:after {
    width: 100%;
  }
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}


// Profile

.profile {
    .address {
      font-family: monospace;
      font-size: 1.2rem;
      p {
        margin: 0;
      }
    }
}


// Navbar customization

.navbar {
  box-shadow: none;
  border-bottom: 1px solid $grey-color-light;
  opacity: 0.95;
}
.navbar.navbar-light {
  // Remove link decoration
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-nav .nav-item .nav-link {
    &:hover {
      color: $theme-color;
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      color: $theme-color;
      font-weight: bolder;
      &:hover {
        color: $theme-color;
      }
  }
  .contact-icon {
    font-size: 1rem;
    a {
      color: $grey-color-dark;
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: $grey-color-dark;
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}


// News

.news table td {
  font-size: 1rem;
}


// Social (bottom)

.social {
  text-align: center;
  .contact-icon {
    font-size: 2rem;
    a {
      color: $grey-color-dark;
      &:hover {
        color: $theme-color;
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer

footer.fixed-bottom {
  color: lighten($grey-color, 25%);
  background-color: $grey-color-dark;
  font-size: 0.75rem;
  .container {
    padding-top: 9px;
    padding-bottom: 8px;
  }
  a {
    color: white;
    &:hover {
      color: lighten($theme-color, 25%);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid $grey-color-light;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}


// Blog

.header-bar {
  border-bottom: 1px solid $grey-color-light;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  h1 {
    color: $theme-color;
    font-size: 5rem;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    border-bottom: 1px solid $grey-color-light;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: $grey-color;
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.pagination .page-item.active .page-link {
  background-color: $theme-color;
  &:hover {
    background-color: $theme-color;
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: $theme-color;
    text-decoration: none;
  }
}


// Projects

.projects {
  .grid-item {
    width: 350px;
    margin-bottom: 10px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $theme-color;
      }
    }
  }
  .card img {
    width: 100%;
  }
}


// Publications
.publications {

  strong {
      color: #fff;
      background-color: #ff6969;
      border-radius: 3px;
      padding: 2px 5px;
      font-weight: 300;
  }


}


.publications-auto {
  margin-top: 2rem;
  h2.year {
    color: $grey-color-light;
    border-top: 1px solid $grey-color-light;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  strong {
    color: #fff;
    background-color: $theme-color;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
  }

  strong.sjrq {
    padding: 1px 4px;
    font-size: 0.8em;
  }

  strong.sjrq.NA_Q {
    background-color: grey;
  }

  strong.sjrq.Q1 {
    background-color: rgb(164, 207, 99);
  }

  strong.sjrq.Q2 {
    background-color: rgb(232, 213, 89);
  }

  strong.sjrq.Q3 {
    background-color: rgb(251, 163, 83);
  }

  strong.sjrq.Q4 {
    background-color: rgb(221, 90, 78);
  }

  strong.impact_factor {
    padding: 1px 4px;
    font-size: 0.8em;
    background-color: rgb(0, 162, 184);
  }

  ol.bibliography {
    list-style: square;
    padding: 0;
    padding-left: 20px;
    margin-top: 0;

    li {
      margin-bottom: 0.5rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: $theme-color;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      span {
        display: block;
      }
      .title {
        font-weight: 500;
        font-size: 1.05em;
      }
      .journal-title {
        display: inline;
        font-weight: 400;
      }
      .author {
        font-size: 0.95em;
        a {
          border-bottom: 1px dashed $theme-color;
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      em.star {
        border-bottom: none;
        color: $theme-color;
        font-style: normal;
      }
      .links {
        font-size: 0.9em;
      }
      //a.abstract, a.bibtex {
      //  cursor: pointer;
      //}
      .badges {
        span {
            display: inline-block;
            color: 'black';
            height: 100%;
            padding-left: 0.5rem;
            vertical-align: middle;
            &:hover {
            text-decoration: underline;
            }
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      span.hidden {
        border: dashed 1px white;
      }
      span.hidden.open {
        border-color: $grey-color;
      }
    }
  }
}

.education {
  strong {
    color: #fff;
    background-color: $theme-color;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
  }

  ol {
    list-style: square;
    padding: 0;
    padding-left: 20px;
    margin-top: 0;

    li {
      margin-bottom: 0.5rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: $theme-color;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      .links a {
        color: black;
        font-size: 0.9em;
      }
      span {
        display: block;
      }
      .title {
        font-weight: bolder;
      }
      .author {
        a {
          border-bottom: 1px dashed $theme-color;
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      em.star {
        border-bottom: none;
        color: $theme-color;
        font-style: normal;
      }
      a.featured_content {
        cursor: pointer;
      }
      a.audit {
        cursor: default;
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      span.hidden {
        border: dashed 1px white;
      }
      span.hidden.open {
        border-color: $grey-color;
      }
    }
  }
}

// Honors
.honor {
  margin-bottom: 1em;

  .year {
    float: left;
    color: grey;
  }

}

.projects-auto {
  margin-top: 2rem;
  strong {
    color: #fff;
    background-color: $theme-color;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
  }


  ol {
    list-style: square;
    padding: 0;
    padding-left: 20px;
    margin-top: 0;

    li {
      margin-bottom: 0.5rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: $theme-color;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      .title {
        font-weight: bolder;
      }
      .supervisor {
        a {
          border-bottom: 1px dashed $theme-color;
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      em.star {
        border-bottom: none;
        color: $theme-color;
        font-style: normal;
      }
      a.abstract, a.bibtex {
        cursor: pointer;
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      span.hidden {
        border: dashed 1px white;
      }
      span.hidden.open {
        border-color: $grey-color;
      }
    }
  }
}

.projects-table {
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

}

// .timeline{
//     width:800px;
//     padding:30px 20px;
//   }
//   .timeline ul{
//     list-style-type:none;
//     border-left:2px solid #000000;
//     padding:10px 5px;
//   }
//   .timeline ul li{
//     padding:20px 20px;
//     position:relative;
//     // cursor:pointer;
//     transition:.5s;
//   }
//   .timeline ul li span{
//     display:inline-block;
//     // padding:2px 5px;
//     font-size:15px;
//     font-weight: bold;
//     text-align:center;
//   }
//   .timeline ul li .content h3{
//     color:#000000;
//     font-size:17px;
//     padding-top:5px;
//   }
//   .timeline ul li .content p{
//     padding:5px 0px 15px 0px;
//     font-size:15px;
//   }
//   .timeline ul li:before{
//     position:absolute;
//     content:'';
//     width:10px;
//     height:10px;
//     // background-color:#000000;
//     background: #fff;
//     border: 3px solid #000;    
//     border-radius:50%;
//     left:-11px;
//     top:28px;
//     transition:.5s;
//   }
// //   .timeline ul li:hover{
// //     background-color:#071f2a;
// //   }
// //   .timeline ul li:hover:before{
// //     background-color:#0F0;
// //     box-shadow:0px 0px 10px 2px #0F0;
// //   }
//   @media (max-width:300px){
//     .timeline{
//       width:100%;
//       padding:30px 5px 30px 10px;
//     }
//     .timeline ul li .content h3{
//       color:#34ace0;
//       font-size:15px;
//     }
  
//   }

/* Timeline Container */
.timeline {
    // background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .timeline-card {
    position: relative;
    // max-width: 800px;
    padding: 30px 30px 30px 30px;
  }
  
  /* setting padding based on even or odd */
//   .timeline-card:nth-child(odd) {
//     padding: 30px 0 30px 30px;
//   }
//   .timeline-card:nth-child(even) {
//     padding: 30px 30px 30px 0;
//   }

  /* Global ::before */
  .timeline-card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid rgb(0, 0, 0);
  }
  
  /* Setting the border of top, bottom, left */
  .timeline-card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 20px 0 0 20px;
  }
  
  /* Setting the border of top, bottom, right */
  .timeline-card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 20px 20px 0;
  }
  
  /* Removing the border if it is the first card */
  .timeline-card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .timeline-card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .timeline-card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .timeline-info {
    display: flex;
    flex-direction: column;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .timeline-title {
    color: black;
    position: relative;
  }
  
  /* Timeline dot  */
  .timeline-title::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    border: 3px solid black;
  }
  
//   /* text right if the card is even  */
//   .timeline-card:nth-child(even) > .info > .title {
//     text-align: right;
//   }
  
  /* setting dot to the left if the card is odd */
  .timeline-card:nth-child(odd) > .timeline-info > .timeline-title::before {
    left: -52.5px;
  }
  
  /* setting dot to the right if the card is odd */
  .timeline-card:nth-child(even) > .timeline-info > .timeline-title::before {
    right: -52.5px;
  }