---
---

<div class="row">
  <!--
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>
-->

  <div id="{{entry.key}}" class="col-sm-12">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="title">{{entry.title}}</span>
      {% if entry.type != "inproceedings" %}
      <span class="author">
        {% for author in entry.author_array %}
          {% if entry.corresponding contains author.last %}
            {% assign is_cr = "<sup>*</sup>" %}
          {% else %}
            {% assign is_cr = "" %}
          {% endif %}
          {% if entry.equal %}
            {% if entry.equal contains author.last %}
                {% assign is_equal = "<sup>†</sup>" %}
            {% else %}
                {% assign is_equal = "" %}
            {% endif %}
          {% else %}
                {% assign is_equal = "" %}
          {% endif %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.last}} {{author.first}}</em>{{is_cr}}{{is_equal}}
            {% else %}
              {{author.last}} {{author.first | slice: 0, 1}}{{is_cr}}{{is_equal}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <em>{{author.last}} {{author.first | slice: 0, 1}}</em>{{is_cr}}{{is_equal}},
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>{{is_cr}}{{is_equal}},
                {% else %}
                  {{author.last}} {{author.first | slice: 0, 1}}{{is_cr}}{{is_equal}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name %}
                and <em>{{author.last}} {{author.first | slice: 0, 1}}</em>{{is_cr}}{{is_equal}}
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>{{is_cr}}{{is_equal}}
                {% else %}
                  and {{author.last}} {{author.first | slice: 0, 1}}{{is_cr}}{{is_equal}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}

        {% endfor %}
      </span>
      {% endif %}
      <span class="periodical">
      {% if entry.type == "article" %}
        <span class="journal-title">{{entry.journal}}</span>
        {% if site.scholar.journal_metrics %}
            {% if entry.sjrq %}
            <strong class="sjrq Q{{entry.sjrq}}">Q{{entry.sjrq|string}}</strong>
            {% endif %}
            {% if entry.impactfactor %}
            <strong class="impact_factor">IF {{entry.impactfactor}}</strong>
            {% endif %}
        {% endif %}

      {% elsif entry.type == "preprint" %}
        <span class="journal-title">{{entry.journal}}</span>
      {% elsif entry.type == "inproceedings" %}
      <span class="journal-title">{{entry.booktitle}} ({{entry.location}})</span>
      {% endif %}
      {% if entry.date %}
      <strong class="date">{{entry.date | date: '%Y'}}</strong>
      {% endif %}
      </span>
    {% endif %}

    {% if site.enable_dimensions %}
        <span class="__dimensions_badge_embed__" {% if entry.doi %}data-doi="{{ entry.doi }}"{% else if entry.pmid %}data-pmid="{{ entry.pmid }}"{% else %}data-id="{{ entry.dimensions }}"{% endif %} data-hide-zero-citations="true" data-style="small_rectangle" data-legend="never"></span>
    {% endif %}

    <span class="links">
    {% if entry.abstract %}
      [<a class="abstract">abstract</a>]
    {% endif %}
    <!-- {% if entry.experience %}
      [<a class="experience">my experience</a>]
    {% endif %} -->
    {% if entry.doi %}
      [<a href="{{ entry.doi | prepend: 'https://doi.org/' }}" target="_blank">url</a>]
    {% endif %}

    {% if entry.arxiv %}
      [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% endif %}
<!--     {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">HTML</a>]
    {% endif %}
 -->    
    {% if entry.pdf %}
      [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" target="_blank">pdf</a>]
    {% endif %}
    {% if entry.pdfurl %}
      [<a href="{{entry.pdfurl}}" target="_blank">pdf</a>]
    {% endif %}
    {% if entry.supp %}
      [<a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Supp</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">poster</a>]
    {% endif %}
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">slides</a>]
    {% endif %}
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">code</a>]
    {% endif %}
    {% if entry.video %}
      [<a href="{{ entry.video }}" target="_blank">video</a>]
    {% endif %}
    {% if entry.tags %}
      {% assign tags = entry.tags | split: ", " %}
      {% for tag in tags %}
      <strong class="tag">{{tag}}</strong>
      {% endfor %}
    {% endif %}
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </span>
    {% endif %}

    <!-- {% if entry.experience %}
    <span class="experience hidden">
      <p>{{ entry.experience }}</p>
    </span>
    {% endif %} -->


  </div>
</div>
